<ul class="nav nav-pills mb-3">
    <li class="nav-item"><NavLink class="nav-link" href="admin/wallets">Wallets</NavLink></li>
    <li class="nav-item"><NavLink class="nav-link" href="admin/transactions">Audit log</NavLink></li>
    <li class="nav-item"><NavLink class="nav-link" href="admin/game-rounds">Game rounds</NavLink></li>
</ul>
